# Copy to terraform.tfvars and tweak. Terraform auto-loads terraform.tfvars.
container_name = "tws-web"
external_port  = 8080
environment    = "dev"
image_tag      = "1.27-alpine"

extra_labels = {
  team  = "trainwithshubham"
  owner = "your-name"
}
